/* media changes  */
/* when on a mobile */
@media(max-width: 576px) {
  .hand-written {
    font-weight: bolder; font-family: serif;   }
}
@media(max-width: 576px){
  .background-image{  height: 250px;}
}
/* when on a laptop size */
@media(min-width: 992px) {
  .carusel-container-outer {
    padding: 2% 15%;
  }
}

/* document body/general */
body {
  text-align: center;
  font-family: 'Parisienne', cursive;
}
.country-container-intro-paragraf {
  padding: 3% 10% 0;
}
.move-to-top {
    top: 0;
    bottom: auto;
}
/* Intro container */
#Page_Intro {
  background-color: #778899;
  padding: 0 0 0 0;
}

.dropdown-item {
  color: #A9A9A9;
}

.nav_bar {
  border: black;
  border-width: thick;
}

.background-image {
  background: url('../images/intro.jpg');
  height: 550px;
  opacity: 0.7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-paragraf {
  width: 60%;
  margin: 0 auto;
  color: black;
  line-height: 1.6;
  padding-top: 15%;
  text-align: center;
}

.quotation {
  font-family: Garamond, serif;
  font-weight: bold;
}

.nav_contact {
  margin-left: 50px;
}

/* contact container */
.contact_info {
  background-color: #708090;
  text-align: center;
}

#Contact {
  padding: 5% 10%;
}

.contact_icon {
  color: black;
}

.contact_icon:hover {
  color: #6495ED;
}

/* Patagonia container */
.Patagonia-intro-container {
  background-color: #495464;
}

/* Peru Container */
.Peru-intro-container{
  background-color: #bbbfca;
}
/* Bolivia container */
.Bolivia-intro-container {
  background-color: #495464;
}
/* Equador Container */
.Equador-intro-container{
  background-color: #bbbfca;
}
/* Nepal Container */
.Nepal-intro-container{
  background-color: #495464;
}
/* Alps Container */
.Alps-intro-container{
  background-color: #bbbfca;
}
/* Poland Container */
.Poland-intro-container{
  background-color: #495464;
}
/* Georgia Container */
.Georgia-intro-container{
  background-color: #bbbfca;
}
/* Croatia Container */
.Croatia-intro-container{
  background-color: #495464;
}
