/* media changes  */
/* when on a mobile */
@media(max-width: 576px) {
  .hand-written {
    font-family: serif;
    font-weight: 300;
  }
}
@media(max-width: 576px) {
  .intro-welcome {
    font-weight: bolder;
  }
}
@media(max-width: 576px){
.intro-my-name{padding-top: 50px;}}

/* when on a laptop size */
@media(min-width: 992px) {
  .carusel-container-outer  {
    padding: 2% 15%;
  }
}

@media(min-width:992px){
  .carusel-container-outer-oversized {
    padding: 2% 21%;
  }
}
@media(min-width:992px) {
  .hand-written {
    padding: 0 15%;
  }
}

/* document body/general */
body {
  text-align: center;
  font-family: 'Parisienne', cursive;
}

.country-container-intro-paragraf {
  padding: 3% 0 0;
}

.move-to-top {
  top: 0;
  bottom: auto;
}
.black{
  color:  black;
}
.country-container {
  padding-bottom: 3%;
}



/* Intro container */
#Page_Intro {
  background-color: #778899;
  padding: 0 0 0 0;
}

.dropdown-item {
  color: #A9A9A9;
}

.nav_bar {
  border: black;
  border-width: thick;
}

.background-image {
  background: url('../images/intro2.jpg');
  height: 550px;
  opacity: 0.7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-paragraf {
  width: 80%;
  margin: 0 auto;
  color: black;
  line-height: 1.6;
  padding-top: 15%;
  text-align: center;
}

.quotation {
  font-family: Garamond, serif;
  font-weight: bold;
}

.nav_contact {
  margin-left: 50px;
}

/* Patagonia container */
.Patagonia-container {
  background-color: #a6a9b6;
}

/* Peru Container */
.Peru-container {
  background-color: #bbbfca;
}

/* Bolivia container */
.Bolivia-container {
  background-color: #a6a9b6;
}

/* Equador Container */
.Equador-container {
  background-color: #bbbfca;
}

/* Nepal Container */
.Nepal-container {
  background-color: #a6a9b6;
}

/* Alps Container */
.Alps-container {
  background-color: #bbbfca;
}

/* Poland Container */
.Poland-container {
  background-color: #a6a9b6;
}

/* Georgia Container */
.Georgia-container {
  background-color: #bbbfca;
}

/* Croatia Container */
.Croatia-container {
  background-color: #a6a9b6;
}

/* contact container */
.contact_info {
  background-color: #708090;
  text-align: center;
}

#Contact {
  padding: 5% 10%;
}

.contact_icon {
  color: #495464;
}

.contact_icon:hover {
  color: #6495ED;
}
